.weatherset {
	align-items: center;
	border: 1px solid #000;
	display: flex;
	flex-wrap: wrap;
	padding: 15px;

}

.weatherset__title {
	min-width: 100%;
}

.weatherset__image {
	flex-grow: 1;
	max-width: 12rem;
}

.weather-forecast .weatherset__image {
	max-width: 5rem;
}

.weatherset__contents {
	display: inline-block;
}

@media screen and (max-width: 768px) {
	.weatherset {
		flex-direction: column;
		text-align: center;
	}
}

@media screen and (max-width: 520px) {
	.weatherset__contents span {
		display: block;
	}
}
